# examples
/examples

# secrets
/secrets/*
!/secrets/secrets-dev.example.yaml
!/secrets/.gitkeep

key.txt

staging-sshkey
staging-sshkey.pub

# configmaps
configmaps/config-dev.yaml
configmaps/opensearch-config-dev.yaml

# scripts
validate-deployment.sh
environment_vars_setup.sh
cleanup-volumes.sh


# AI
.claude/*
CLAUDE.md