apiVersion: v1
kind: ConfigMap
metadata:
  name: configuration-template-asmm8
  namespace: cptm8-dev
data:
  configuration_template.yaml: |
    APP_ENV: DEV # DEV,TEST,PROD (DEV and TEST print logs in CMD screen)
    LOG_LEVEL: "0"
    # panic (zerolog.PanicLevel, 5)
    # fatal (zerolog.FatalLevel, 4)
    # error (zerolog.ErrorLevel, 3)
    # warn (zerolog.WarnLevel, 2)
    # info (zerolog.InfoLevel, 1)
    # debug (zerolog.DebugLevel, 0)
    # trace (zerolog.TraceLevel, -1)
    ORCHESTRATORM8:
      Services:
          asmm8: "${ASMM8_URL}"
          naabum8: "${NAABUM8_URL}"
      Exchanges:
        cptm8: "topic" # exchange_name:exchange_type
        notification: "topic"
      asmm8: # service name
        Queue:
          - "cptm8" # exchange name
          - "qasmm8" # queue name
          - 1 # prefetch count
        Routing-keys:
          - "cptm8.asmm8.#" # binding key
        Queue-arguments:
          "x-max-length": 1 # x-queue-type, x-max-length, x-max-length-bytes, x-overflow, x-message-ttl, x-expires, x-max-age, x-stream-max-segment-size-bytes, x-queue-version, x-consumer-timeout, x-single-active-consumer
          "x-overflow": "reject-publish"
        Consumer:
          - "qasmm8"  # queue name
          - "casmm8"  # consumer name
          - "false"   # autoack
        Publisher: # This the default published message
          - "cptm8" # exchange
          - "cptm8.naabum8.get.scan" # Routing key
          - "asmm8" # caller service
    ASMM8:
      runType: fast   # Set to either fast (passive enum) or complete (active enumeration).
      activeWordList: "wordlist/subdomainslite.txt"
      activeThreads: 100
    # PostgreSQL connection
    Database:
      location: "${POSTGRESQL_HOSTNAME}"
      port: 5432
      schema: "public"
      database: "${POSTGRESQL_DB}"
      username: "${POSTGRESQL_USERNAME}"
      password: "${POSTGRESQL_PASSWORD}"
    RabbitMQ:
      location: "${RABBITMQ_HOSTNAME}"
      port: 5672
      username: "${RABBITMQ_USERNAME}"
      password: "${RABBITMQ_PASSWORD}"
      pool:
        max_connections:
        min_connections:
        pool.max_idle_time:
        max_lifetime:
        health_check_period:
        connection_timeout:
        retry_attempts: 10
        retry_delay: 5 # seconds
  subfinderconfig.yaml: |
    # subfinder config file
    # generated by https://github.com/projectdiscovery/goflags

    # domains to find subdomains for
    #domain: []

    # file containing list of domains for subdomain discovery
    #list: 

    # specific sources to use for discovery (-s crtsh,github). use -ls to display all available sources.
    #sources: []

    # use only sources that can handle subdomains recursively (e.g. subdomain.domain.tld vs domain.tld)
    #recursive: false

    # use all sources for enumeration (slow)
    #all: false

    # sources to exclude from enumeration (-es alienvault,zoomeyeapi)
    #exclude-sources: []

    # subdomain or list of subdomain to match (file or comma separated)
    #match: []

    #  subdomain or list of subdomain to filter (file or comma separated)
    #filter: []

    # maximum number of http requests to send per second (global)
    #rate-limit: 0

    # maximum number of http requests to send per second four providers in key=value format (-rls hackertarget=10/m)
    #rate-limits: ["github=30/m", "fullhunt=60/m", "robtex=18446744073709551615/ms", "securitytrails=1/s", "shodan=1/s", "virustotal=4/m", "hackertarget=2/s", "waybackarchive=15/m", "whoisxmlapi=50/s", "securitytrails=2/s", "sitedossier=8/m", "netlas=1/s", "github=83/m"]

    # number of concurrent goroutines for resolving (-active only)
    #t: 10

    # update subfinder to latest version
    #update: false

    # disable automatic subfinder update check
    #disable-update-check: false

    # file to write output to
    #output: 

    # write output in jsonl(ines) format
    #json: false

    # directory to write output (-dl only)
    #output-dir: 

    # include all sources in the output (-json only)
    #collect-sources: false

    # include host ip in output (-active only)
    #ip: false

    # flag config file
    #config: /home/deifzar/.config/subfinder/config.yaml

    # provider config file
    #provider-config: /home/deifzar/.config/subfinder/provider-config.yaml

    # comma separated list of resolvers to use
    #r: []

    # file containing list of resolvers to use
    #rlist: 

    # display active subdomains only
    #active: false

    # http proxy to use with subfinder
    #proxy: 

    # exclude ips from the list of domains
    #exclude-ip: false

    # show only subdomains in output
    #silent: false

    # show version of subfinder
    #version: false

    # show verbose output
    #v: false

    # disable color in output
    #no-color: false

    # list all available sources
    #list-sources: false

    # report source statistics
    #stats: false

    # seconds to wait before timing out
    #timeout: 30

    # minutes to wait for enumeration results
    #max-time: 10
  subfinderprovider-config.yaml: |
    bevigil: []
    binaryedge: []
    bufferover: []
    builtwith: []
    c99: []
    censys: []
    certspotter: []
    chaos: []
    chinaz: []
    dnsdb: []
    dnsrepo: []
    facebook: []
    fofa: []
    fullhunt: []
    github: []
    hunter: []
    intelx: []
    leakix: []
    netlas: []
    passivetotal: []
    quake: []
    redhuntlabs: []
    robtex: []
    securitytrails: []
    shodan: []
    threatbook: []
    virustotal: []
    whoisxmlapi: []
    zoomeyeapi: []  